body {
    background-image: url("albumhatter4-2.jpg");
}
table {
    padding: 2cm;
    border: 2px solid rgba(241, 231, 231, 0.89);
    width: 90%;
    margin: auto;
    color: rgba(241, 231, 231, 0.856);
}
img {
    width: 172.6px;
    height: 320px;
}
hr {
    color: whitesmoke;
    width: 100%;
}
.vissza {
    height: 50px;
    width: 100px;
    margin: 0;
}
.visszatablazat {
    border: none;
    margin: 0;
    padding: 0;
}
.kezdooldalra {
    text-align: center;
}
a {
    color: lightblue;
    text-decoration: none;
    font-size: 30px;
}
a:hover {
    color: lightskyblue;
    text-decoration: underline;
}